fastapi
langchain
langchain_core
openai
langchain_openai
langchain_google_genai
pydantic 
websocket
langgraph
pymupdf4llm
docling

npm install @clerk/nextjs
npm i drizzle-orm @neondatabase/serverless dotenv
npm i -D drizzle-kit tsx